li {
    text-decoration: none;
    font-size: 22px;
    margin-left: 25px;
    font-weight: 700;
}

/* .social-network {
    margin-left: 500px;
} */

/* .social-network .navigation a{
    color: var(--blue);
    z-index: 99;
} */
#navbarNavDropdown a {
    color: var(--red);
    z-index: 99;
}

.logo {
    width: 75px;
    height: 75px;
    margin:7px 10px;
    z-index: 99;
}